

body {
  background-color: rgb(255, 255, 255); 
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 18px;
  background-color: rgba(105, 58, 58, 0.418);
  border-radius: 9px;
  box-shadow: 0 0 6px rgba(42, 33, 75, 0.1);
 
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 7px;
  margin: 9px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  
}

input.error-input,
select.error-input,
textarea.error-input {
  border-color: rgb(33, 29, 92);
}

input[type="submit"],
input[type="reset"] {
  background-color: #6863a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #293a69;
  
}

.error {
  color: rgb(66, 9, 83);
  font-size: 12px;
}

.success {
  color: rgb(39, 31, 83);
  font-size: 14px;
}


.form-group {
    display: inline-block;
    margin-right: 0px; 
}
.form-group1 {
    display: block;
    margin-right: 0px; 
}